---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$link-color: #ffbc40;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
  font-family: 'RIDIBatang';
  src: url('/assets/fonts/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#site-nav, .sidebar, .toc__menu a  {
  font-size: 1.2em;
}

.author__urls a:hover {
  color: $link-color;
  text-decoration: none;
}

.social-icons {
  .fa-linkedin {
    color: #3d4144;
  }
}

.page__content {
  h2 {
    color: $link-color;
  }

  p {
    strong {
      color: #4da1ca;
    }
  }
}

.archive__subtitle{
  font-size: 1.2em;
  color: $link-color;
}

.archive__item-title.no_toc {
  a {
    font-size: 0.8em;
    color: #3b5998;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: mix(#000, #3b5998, 55%)
    }
  }
}


@include breakpoint($medium) {
  .sidebar {
    width: calc(200px - 1em);
  }
  .page, .breadcrumbs ol, .archive, .page__related {
    width: calc(100% - 200px);
  }

}


